<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anti-Asian Racism Survey Quiz</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <section id="results" class="flex-center flex-column">
            <img src="images/oasw-logo-horizontal-English.png" alt="OASW Logo" class="logo">
            <h1>Quiz done</h1>
            <a href="/host" class="btn start">Restart</a>
        </section>
    </div>



    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="js/quiz.js"></script> -->

</body>

</html>