<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Controls</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/quiz.css">

    <!-- fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/tbs6myl.css">
</head>

<body>

    <div class="container" id="main-section">
        <section id="game" class="justify-center flex-column">
            <img src="images/oasw-logo-horizontal-English.png" alt="OASW Logo" class="game-logo">

            <section class="hud" id="hud">
                <section class="hud-item" id="timer">
                    <p class="hud-prefix">Timer</p>
                    <h1 class="timer-text" id="timer-text"></h1>
                </section>

                <section class="hud-item visualizer-section" id="visualizer-section">
                    <div class="vis-container">
                        <span class="vis-label">A</span>
                        <section id="visualizer-a" class="visualizer">
                            <div id="visualizer-a-full" class="visualizer-full"></div>
                        </section>
                        <span id="visualizer-text-a" class="visualizer-text">0</span>
                    </div>

                    <div class="vis-container">
                        <span class="vis-label">B</span>
                        <section id="visualizer-b" class="visualizer">
                            <div id="visualizer-b-full" class="visualizer-full"></div>
                        </section>
                        <span id="visualizer-text-b" class="visualizer-text">0</span>
                    </div>

                    <div class="vis-container">
                        <span class="vis-label">C</span>
                        <section id="visualizer-c" class="visualizer">
                            <div id="visualizer-c-full" class="visualizer-full"></div>
                        </section>
                        <span id="visualizer-text-c" class="visualizer-text">0</span>
                    </div>

                    <div class="vis-container">
                        <span class="vis-label">D</span>
                        <section id="visualizer-d" class="visualizer">
                            <div id="visualizer-d-full" class="visualizer-full"></div>
                        </section>
                        <span id="visualizer-text-d" class="visualizer-text">0</span>
                    </div>
                </section>

                <section class="span-btn-container">
                    <span class="btn host-start" id="host-start">Start</span>
                    <span class ="btn host-start" id="host-stop-timer">Stop</span>
                    <span class="btn host-start" id="host-reset">Reset</span>
                </section>
            </section>

            <h2 id="question">Test question?</h2>

            <form name="question-choices">
                <div class="choice-container">
                    <input id="choice0" class="choice-radio" type="radio" name="choice" value="A">
                    <label for="choice0" class="choice-text" data-number="0"></label>
                    <label for="choice0" class="choice-prefix flex-center">A</label>
                </div>
                <div class="choice-container">
                    <input id="choice1" class="choice-radio" type="radio" name="choice" value="B">
                    <label for="choice1" class="choice-text" data-number="1"></label>
                    <label for="choice1" class="choice-prefix flex-center">B</label>
                </div>
                <div class="choice-container">
                    <input id="choice2" class="choice-radio" type="radio" name="choice" value="C">
                    <label for="choice2" class="choice-text" data-number="2"></label>
                    <label for="choice2" class="choice-prefix flex-center">C</label>
                </div>
                <div class="choice-container">
                    <input id="choice3" class="choice-radio" type="radio" name="choice" value="D">
                    <label for="choice3" class="choice-text" data-number="3"></label>
                    <label for="choice3" class="choice-prefix flex-center">D</label>
                </div>
                <button id="submit-button" class="invisible" type="submit"></button>
                <input id="question-for-google" class="invisible" type="radio" name="question" value="0" selected>
            </form>

            <section class="hud-item" id="hud-question">
                <section class="hud-prefix">
                    <span class="btn host-nav" id="host-previous">Previous</span>
                    <span id="progress-text"></span>
                    <span class="btn host-nav" id="host-next">Next</span>
                </section>
                <section id="progress-bar">
                    <div id="progress-bar-full"></div>
                </section>
            </section>
        </section>
    </div>

    <p id="output"></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/hostControls.js"></script>
</body>

</html>