<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anti-Asian Racism Survey Quiz</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/quiz.css">

    <!-- fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/tbs6myl.css">
</head>

<body>
    <div class="container" id="container">
        <section id="game" class="justify-center flex-column">
            <img src="/images/oasw-logo-horizontal-English.png" alt="OASW Logo" class="game-logo">

            <section class="hud" id="hud">
                <!-- <section class="hud-item" id="hud-question">
                    <p id="progress-text" class="hud-prefix"></p>
                    <section id="progress-bar">
                        <div id="progress-bar-full"></div>
                    </section>
                </section> -->
                <section class="hud-item" id="timer">
                    <p class="hud-prefix">Timer</p>
                    <h1 class="timer-text" id="timer-text"></h1>
                </section>
                <section class="hud-item" id="hud-score">
                    <p class="hud-prefix">Score</p>
                    <h1 class="hud-main-text" id="score-text">0</h1>
                </section>
            </section>


            <!-- <div class="choice-container">
                <p class="choice-prefix flex-center">A</p>
                <p class="choice-text" data-number="1">Choice 1</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix flex-center">B</p>
                <p class="choice-text" data-number="2">Choice 2</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix flex-center">C</p>
                <p class="choice-text" data-number="3">Choice 3</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix flex-center">D</p>
                <p class="choice-text" data-number="4">Choice 4</p>
            </div> -->
            <form action="" method="post">
                <h2 id="question" name="question">Test question?</h2>

                <div class="choice-container">
                    <p class="choice-prefix flex-center">A</p>
                    <button type="submit" id="choice1" value="A" name="choicetext" class="choice-text"
                        data-number="1">Choice 1</button>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix flex-center">B</p>
                    <button type="submit" id="choice2" value="B" name="choicetext" class="choice-text"
                        data-number="2">Choice 2</button>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix flex-center">C</p>
                    <button type="submit" id="choice3" value="C" name="choicetext" class="choice-text"
                        data-number="3">Choice 3</button>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix flex-center">D</p>
                    <button type="submit" id="choice4" value="D" name="choicetext" class="choice-text"
                        data-number="4">Choice 4</button>
                </div>

                <section class="hud-item" id="hud-question">
                    <p id="progress-text" class="hud-prefix"></p>
                    <section id="progress-bar">
                        <div id="progress-bar-full"></div>
                    </section>
                </section>
            </form>
        </section>
    </div>

    <script src="../js/quiz.js"></script>
</body>

</html>