:root {
     /* Variables */
     --main-green: #009b77;
     --accent-green: #008767;
     --hover-green: rgba(1, 148, 114, 0.5);
     --select-blue: #b9c1da;
     --background-color: white;
     /* --background-color: #f5ffff; */

     /* Other root properties */
     font-size: 62.5%;

     /* background-color: var(--main-green);
     color: white; */
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     background-color: var(--background-color);
}

body {
     font-size: 1.6rem;
     font-family: 'futura-pt', sans-serif;
     font-weight: 400;
}

h1, h2, h3 {
     color : var(--main-green);
     margin-bottom: 1rem;
}

h1 {
     font-size: 4.8rem;
     margin-bottom: 5rem;
}

h1 > span {
     font-size: 2.4rem;
}

h2 {
     font-size: 3.2rem;
     margin-bottom: 2.8rem;
     font-weight: 700;
}

h3 {
     font-size: 2.8rem;
}

nav, nav *{
     font-size: 1.4rem;
}


/******************************************
/* UTILITIES
/*******************************************/
.container {
     width: 100vw;
     /* height: 100vh; */
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80rem;
     margin: 0 auto;
     padding: 2rem;
}

.container > * {
     width: 100%;
}

.flex-column {
     display: flex;
     flex-direction: column;
}

.flex-center {
     justify-content: center;
     align-items: center;
}

.justify-center {
     justify-content: center;
}

.text-center {
     text-align: center;
}

.hidden {
     display: none;
}

/* BUTTONS */
.btn {
     font-size: 1.8rem;
     /* padding: 1rem 0; */
     /* width: 20rem; */
     text-align: center;
     margin-bottom: 1rem;
     text-decoration: none;
     border: 0.1rem solid var(--accent-green);
     color: var(--main-green);
     background-color: var(--main-green);
     color: white;
     border-radius: 3px;
}
.btn:hover {
     cursor: pointer;
     box-shadow: 0 0.4rem 1.4rem 0 var(--hover-green);
}
.btn[disabled]:hover{
     cursor: not-allowed;
     box-shadow: none;
     transform: none;
}
.btn.start {
     padding: 1rem 0; 
     width: 20rem;
}
.btn.host-nav {
     width: 10rem;
     padding: 0 2rem;
     margin: 0 2rem; 
}

.login {
     display: flex;
     flex-direction: column;
     margin: 1rem 0;
}

.score,
.score * {
     text-align: center;
     margin: 1rem;
}


/* SPECIFIC STYLES*/
/* HOMEPAGE */
.home h1 {
     margin-top: 3rem;
}
.logo {
     width: 30rem;
}

.final-score-text {
     margin-top: 3rem;
}

.final-score-numbers {
     margin-bottom: 3rem;
}

.invisible {
     visibility: hidden;
     opacity: 0;
     z-index: -1;
     position: fixed;
     top: 0;
     left: 0;
}

.displayless {
     display: none;
}